body {
	background-color: #00264d;
}



ul,li {
	list-style-type: none;
	display: inline;
	padding: 0px 3px;
	margin: 10px 0px;
	color: black;
	
}

ul {
	font-size: Medium;
	font-family: helvetica;
}



.skills {
	width: 60%;
	margin: auto;
}

.category {
	position: relative;
	left: 25px;
}

.bckcolor {
	background-color: #00134d;
}
.altback {
		background-color: #007acc;
}

.altback2{
	background-color: #e6f5ff;
}

.nav-text {
	color: #007acc !important;
}

.techno {
	height: 22rem;
}

.greeting {
	
}
.greetimg {
	
	box-shadow: 2px 2px 2px black;
}

.listTitle {
	position: relative;
	font-family: helvetica;
	font-weight: bold;
	
	
}

.padded {
	display: inline-block;
	position: relative;
	width: 45%;	
}



.img-size {
	display: block;
	position: relative;
	width: 200px;
	height: 200px;
}

.overlay {
	top: 50%;
	left: 20%;
	position: absolute;
	color: #fff;
	font-weight: 900;
	font-size: 5rem;
	text-shadow: 5px 2px #222;
}
.overlay2 {
	top: 65%;
	left: 24%;
	font-size: 200%;
	font-weight: 800;
	color: #DCDCDC;
	position: absolute;
	text-shadow: 4px 3px #222;
}

.gray {
	filter: grayscale(100%);
	transition: all .8s ease-in-out;
}

.gray:hover {
	filter: none;
}

.fullPage {
	height: 100vh;
}
.foot {
display: block;
position: absolute;
bottom: 45px;
left: 38%;
}

.img-center {
	
}